[include fluidd.cfg] 

[include macros.cfg]

[exclude_object]

[include timelapse.cfg]

[include timelapse_user.cfg]


#[include adxlmcu.cfg]

#====================================================================
# MCU = BTT SKR Pico X 2, one as MCU AUX
#====================================================================

[mcu]
#serial: /dev/ttyAMA0 #UART
#serial: /dev/ttyS0
#serial: /dev/serial0
#serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFD5055058373918711343-if00
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044505930AA691C-if00 #new board
restart_method: command


[mcu aux]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310D63D1C-if00 #old board
restart_method: command

#====================================================================
# VIRTUAL SD CARD
#====================================================================

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#====================================================================
# PRINTER
#====================================================================

[printer]
kinematics: cartesian
max_velocity: 550
max_accel: 10000 # although limited by Orca, chatGPT says it could try to get this sometiems.
# was 12k, but Orca is set to 5k, will reduce to 8k to see if skipped steps and Benchy artifact is fixed
max_z_velocity: 15 #using chatGPT get the best values for this
max_z_accel: 30 #using chatGPT get the best values for this
square_corner_velocity: 5.0 #added this on 24 Jan 2026, helps with how sharp corners are allowed to be. 

[screws_tilt_adjust]
screw1: 76.3, 210  #screw coordinates need to be measure for YOUR specific printer
screw2: 225, 210
screw3: 225, 40
screw4: 76.3, 40
screw1_name: rear left screw
screw2_name: rear right screw
screw3_name: front right screw
screw4_name: front left screw
horizontal_move_z: 10.
speed: 100.   #speed of travel moves between screws
screw_thread: CW-M4  #measure your bed screw m3=3mm / m4=4mm / m5=5mm
#screw1: 0, 116    #sml tilt of x gantry
#screw2: 160, 116. #sml tilt of x gantry 
#screw3: 160, 118. #sml tilt of x gantry
#screw4: 0, 118    #sml tilt of x gantry


[z_tilt]
z_positions:
    -30,110
    265,110 
    
points: 
    55.5,142
    226.5,142
horizontal_move_z: 10
retries: 15
retry_tolerance: 0.02 
speed:120

#====================================================================
# STEPPER X
#====================================================================

[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 40.0 #this is based on CaliFlower calibration 22 Jul 2025
# endstop_pin: ^gpio4 #not needed for sensorless homing SML
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: -8
position_min: -8
position_max: 227
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 1.0
hold_current: 0.6
#run_current: 0.9 #this was 0.7 for old motor
#hold_current: 0.6
#stealthchop_threshold: 999999
stealthchop_threshold: 0 #for speedBenchy
diag_pin: ^gpio4  #sensorless homing sml
driver_SGTHRS: 80 #sensorless homing sml

#====================================================================
# STEPPER Y
#====================================================================

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40.0 # This based on CaliFlower calibration 22 Jul 2025
# endstop_pin: ^gpio3 #Not needed for sensorless homing SML
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 1
position_min: 1
position_max: 235
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 1.0
hold_current: 0.6
#run_current: 0.7
#hold_current: 0.6 #SpeedBency on stock Creality 1.5a motor. chatGPT recommended 0.5, so this might be pushing it.
#run_current: 0.9 #SpeedBency on stock Creality 1.5a motor. chatGPT recommended 0.8, so this might be pushing it.
#stealthchop_threshold: 999999 #This is quiet, but lower torque. Not recommended for printing fast
stealthchop_threshold: 0 #SpeedBenchy setting, forces spreadCycle all the time
diag_pin: ^gpio3
driver_SGTHRS: 80 #this might fix the issue with homing, going lower makes it less sensitive and was at 125

#====================================================================
# STEPPER Z
#====================================================================

[stepper_z]
step_pin: gpio19
dir_pin: !gpio28
enable_pin: !gpio2
endstop_pin: ^gpio25
microsteps: 16
rotation_distance: 10
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
#position_endstop: 0
endstop_pin: probe:z_virtual_endstop
position_min: -6.0
position_max: 235
homing_speed: 12

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.8 #sml - was 0.580, after belted z mod changed to match y
hold_current: 0.6 #sml - was 0.500, after belted z mod changed to match y
#stealthchop_threshold: 999999
stealthchop_threshold: 0

[stepper_z1]
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 10
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
#position_endstop: 0
endstop_pin: probe:z_virtual_endstop
#position_min: -6.0
#position_max: 230
#homing_speed: 12

[tmc2209 stepper_z1]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.8 #sml - was 0.580, after belted z mod changed to match y
hold_current: 0.6 #sml - was 0.500, after belted z mod changed to match y
#stealthchop_threshold: 999999
stealthchop_threshold: 0

##### THIS SECTION FOR Z1 are pins for the extruder port on SKR Pico, remapped

[extruder]
step_pin: aux:gpio14
dir_pin: aux:gpio13
enable_pin: !aux:gpio15
microsteps: 16
full_steps_per_rotation: 200 #sml
rotation_distance: 4.695 #sml 12 FEB 2025
max_extrude_only_distance: 500 #sml
max_extrude_only_velocity: 120 #sml
nozzle_diameter: 0.6 # added 31 Jan 2026
filament_diameter: 1.750
pressure_advance_smooth_time: 0.03 #sml, does this fix the artifact at the top of the Benchy cabin, may require tuning PA again. Was 0.04. 
heater_pin: gpio23
#sensor_type: EPCOS 100K B57560G104F - old V6 Hotend extruder
sensor_type: PT1000 # added 26 APR 2026 SML
sensor_pin: gpio27
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
min_extrude_temp: 170
max_temp: 285


[tmc2209 extruder]
uart_pin: aux:gpio9
tx_pin: aux:gpio8
interpolate: False #added 2/7/2026
uart_address: 3
run_current: 0.850 #was 0.6, changed Feb 7 2026 from TL documents
hold_current: 0.100 # was 0.5, but looking at trianglelabs doc says it should be 0.1
stealthchop_threshold: 999999

#====================================================================
# Raspberry Pi & BTT SKR Pico Temperature Display for Fluidd
#====================================================================

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor pico]
sensor_type: temperature_mcu

#====================================================================
# Y Axis Motor Temperature Display for Fluidd
#====================================================================

#[temperature_sensor Y_Axis_Motor]
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: aux:PC5
#min_temp: 0
#max_temp: 100

#====================================================================
# BED
#====================================================================

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#====================================================================
# FANS
#====================================================================

[heater_fan heatbreak_cooling_fan]
pin: gpio18

[heater_fan box_fan]
pin: gpio20
heater: heater_bed
heater_temp: 45.0

[fan]
pin: aux:gpio17

#[fan]
#pin: gpio17

#[fan]
#pin: aux:PA0

#====================================================================
# INPUT SHAPER
#====================================================================

[input_shaper]
#shaper_freq_x: 30.00
#shaper_freq_y: 30.71
#shaper_type: ei

#[board_pins]
#aliases:
#    # EXP1 header
#    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
#    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

#[static_digital_output usb_pullup_enable]
#pins: !PA14

#====================================================================
# BL TOUCH
#====================================================================

[bltouch]
sensor_pin: ^gpio22
control_pin: gpio29
x_offset: -56.3       #sml - from trianglelabs guide 40.57
y_offset: -5 #sml - from trianglelabs guide
samples: 3
speed: 2
samples_result: median #added 8 June 2026
samples_tolerance: 0.100 #added 8 June 2026, if it fails again then loosen this value to 0.120. Run PROBE_ACCURACY to get the values. 
samples_tolerance_retries: 5 #added 8 June 2026
lift_speed: 10 #added 8 June 2026
sample_retract_dist: 3.0 #added 8 June 2026
#z_offset: 2.0
pin_up_touch_mode_reports_triggered: False
pin_up_reports_not_triggered: True
probe_with_touch_mode: False

#====================================================================
# BED MESH PARAMETERS
#====================================================================

[bed_mesh]
speed: 225
horizontal_move_z: 5
mesh_min: 4, 18     #!!min and max co-ords are based on the probes location not the nozzle!!
mesh_max: 168, 216 #needs to be calibrated for your individual printer - was 170, 215
probe_count: 6,6 #this is the number of probing points on X then Y axis
#mesh_min: 46, 21       #!!min and max co-ords are based on the probes location not the nozzle!!
#mesh_max: 209, 188  #needs to be calibrated for your individual printer
mesh_pps: 3,3
fade_start: 1
fade_end: 10
fade_target: 0

[safe_z_home]
home_xy_position: 142.5,142.5 #sml - this should be the center of your bed
speed: 100
z_hop: 10
z_hop_speed: 10

[skew_correction]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.959
#*# pid_ki = 1.056
#*# pid_kd = 124.838
#*#
#*# [heater_bed]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.015625, -0.012500, 0.050000, 0.071875, 0.103125, 0.140625
#*# 	  0.025000, -0.028125, -0.025000, 0.003125, 0.056250, 0.125000
#*# 	  0.009375, -0.071875, -0.015625, 0.025000, 0.053125, 0.090625
#*# 	  0.009375, -0.062500, -0.046875, -0.012500, 0.000000, 0.015625
#*# 	  0.034375, -0.065625, -0.025000, -0.003125, 0.021875, -0.003125
#*# 	  0.093750, 0.006250, 0.025000, 0.071875, 0.103125, 0.078125
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 4.0
#*# max_x = 167.95
#*# min_y = 18.0
#*# max_y = 216.0
#*#
#*# [bltouch]
#*# z_offset = 1.677
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 53.0
#*# shaper_type_y = ei
#*# shaper_freq_y = 42.4
#*#
#*# [skew_correction Calilantern]
#*# xy_skew = -0.0034033199256846957
#*# xz_skew = 0.0010359118097093766
#*# yz_skew = -0.00535922010558866
