#[gcode_macro SEXY_TIMELAPSE_SETUP]
#description: Custom Moonraker timelapse setup for parked layer photos
#gcode:
#    _SET_TIMELAPSE_SETUP ENABLE=True VERBOSE=True PARK_ENABLE=True PARK_POS=custom CUSTOM_POS_X=10 CUSTOM_POS_Y=220 CUSTOM_POS_DZ=1 TRAVEL_SPEED=100 RETRACT_SPEED=15 EXTRUDE_SPEED=15 RETRACT_DISTANCE=0.6 EXTRUDE_DISTANCE=0.6 PARK_TIME=0.25 FW_RETRACT=False
#    GET_TIMELAPSE_SETUP